body {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smythe', cursive;
}

.main-content {
    background-color: white;
    margin: 0 auto;
    width: 750px;
    position: relative;
}

.header {
    position: relative;
    background-image: url('/Restaurant-App/images/ferks-guare-KEZdWfYD-ow-unsplash\ 1.png');
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 200px;
}

.header > h2 {
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 50px;
    font-weight: 400;
    font-size: 40px;
}

.header > p {
    padding-top: 0;
    padding-left: 50px;
    font-size: 25px;
}

/* Food Content */
.food-item-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    height: 1000px;
}

.food-item {
    display: flex;
    align-items: center;
    width: 600px;
    height: 170px;
    line-height: 10px;
    border-bottom: 2px solid #D2D2D2;;
}

.food-content {
    flex-grow: 1;
    margin-left: 15px;
    padding: 20px;
}

.food-item-name{
    color: black;
    font-size: 25px;
}

.food-ingredients{
    color: #8B8B8B;
    font-size: 16px;
    line-height: 5px;
}

.item-price {
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.add-item-btn {
    background-color: white;
    width: 50px;
    height: 50px;
    align-self: flex-start;
    margin-top: 50px;
    font-size: 32px;
    border-radius: 50px;
    border: 1.5px solid #DEDEDE;
}

/* Order */
.order-container {
    /*background-color: aqua;*/
    color: black;
    width: 600px;
}

.order-container > h1 {
    text-align: center;
    margin-bottom: 100px;
}

.ordered-item {
    /*background-color: aqua;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

.chosen-food-item {
    font-size: 25px;
    font-weight: bold;
    line-height: 16px;
    text-align: left;
}

.remove {
    color: #8B8B8B;
    font-size: 18px;
    font-weight: normal;
    margin-left: 8px;
}

.chosen-item-price {
    font-size: 20px;
}

.order-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #8B8B8B;
}

.total-text {
    font-size: 25px;
    font-weight: bold;
    line-height: 16px;
}

.total-price {
    font-size: 20px;
}

.complete-order-btn {
    background-color: #16DB99;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 600px;
    padding: 20px;
    margin-top: 35px;
    border-radius: 5px;
    border: none;
}

/* Payment Modal*/
.payment-modal {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 150px;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 542px;
    text-align: center;
    border: 2px solid #8B8B8B;
    border-radius: 3px;
}

.payment-modal > h1 {
    font-size: 30px;
    margin-top: 45px;
}

.payment-modal > input {
    font-size: 20px;
    width: 350px;
    /*height: 71px;*/
    padding: 25px 150px 25px 25px;
    margin-top: 25px;
    border-radius: 3px;
    border: 1px solid #8B8B8B;
}

.pay-btn {
    background-color: #16DB99;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 530px;
    padding: 25px;
    margin-top: 35px;
    border-radius: 5px;
    border: none;
}